* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-accent-brown);
}

li {
  list-style: none;
}

html,
body {
  font-family: var(--font-family-base);
  color: var(--color-accent-brown);
}
