:root {
  --bg-color-light: #ffffff;
  --bg-color-green: rgba(63, 198, 110, 0.1);
  --color-accent-orange: #ff8a00;
  --color-accent-green: #3fa72f;
  --color-accent-brown: #311f09;
  --color-accent-fill: rgba(208, 204, 199, 0.1);

  --font-family-base: "Poppins";
  --fz-main: 20px;
  --border: 1px solid black;

  --container-width: 1240px;
  --transition: all 0.2s ease;
}
